.formBlock {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form_conteiner {
    border: 1px solid #0d3b6c;  
    border-radius: 15px;
    padding: 30px;
    width: 100%;
    max-width: 400px;
}

.auth_form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.auth_form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.auth_form input:focus {
    outline: none;
    border-color: #0056b3;
}

.btn-auth {
    width: 100%;
    padding: 10px;
    background-color: #0d3b6c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s ease-in-out;
}

.btn-auth:hover {
    background-color: #004099;
}

.form_text {
    font-size: 14px;
    color: #1890ff;
    text-align: center;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.form_text:hover {
    color: #0056b3;
}

    /* @media only screen and (max-width: 440px) {
        .form_conteiner {
            margin: auto;
        }
    } */
