.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(12, 1, 45);
    width: 100%;
    left: 0;
    height: 45px;
    position: fixed;
    padding: 0 5px;
    z-index: 1;
}

.logo {
    padding: 10px;
}

.logo_img {
    display: flex;
    width: 45px;
    align-items: center;
}

.dropbtn {
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: none;
    background-color: inherit;
}

.profile_img {
    cursor: pointer;
    display: block;
    width: 35px;
}

.profile_name {
    cursor: pointer;
    color: white;
    margin-left: 3%;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    min-width: 50px;
    display: block
}

@media only screen and (max-width: 400px) {
    .profile_name {
        display: none;
    }
}

.dropdown-content {
    right: 0;
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin: auto;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.footer_container {
    height: 5%;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(12, 1, 45);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}