.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(12, 1, 45);
    width: 100%;
    left: 0;
    height: 45px;
    position: fixed;
    padding: 0 5px;
}

.logo {
    padding: 10px;
    font-size: 18x;
    text-transform: uppercase;
    font-weight: 400;
}

.logo a {
    color: #ffffff;
}

.dropdown {
    float: left;
    overflow: hidden;
}


.dropdown .dropbtn {
    font-size: 18px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 40px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown:hover .dropbtn {
    background-color: rgb(23, 9, 100);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.footer_container {
    height: 5%;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(12, 1, 45);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}